<!-- views/dash.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comet Dashboard</title>
  <!-- Add Tailwind CSS CDN link -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-cover bg-center bg-no-repeat text-white" style="background-image: url('https://images.prodia.xyz/c2e74a76-7a66-4a76-803a-ac01fe815b52.png') ">
  <div class="container mx-auto py-10">
    <nav class="bg-blue-800 py-4 px-6 rounded-t-lg mb-10">
      <div class="text-center">
        <h1 class="text-3xl font-bold flex items-center justify-center">
          <span class="mr-2">Comet</span>
          <span class="text-xl">🚀</span>
        </h1>
      </div>
    </nav>
    <header class="mb-8">
      <div class="flex items-center">
        <img src="<%= pfp %>" alt="Comet Bot" class="rounded-full h-24 w-24">
        <div class="ml-4">
          <div class="bg-blue-700 text-white rounded-lg p-4">
            <h2 class="text-2xl font-bold mb-2">Welcome to Comet Bot!</h2>
            <p class="text-lg">Comet is a powerful Discord bot designed to enhance your server experience.</p>
          </div>
          <div class="mt-4">
            <a href="/login" class="inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Login</a>
            <a href="/invite" class="inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 ml-2">Invite Me!</a>
          </div>
        </div>
      </div>
    </header>
    <h2 class="text-2xl font-bold mb-4 text-white">Bot Statistics</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="bg-blue-800 p-6 rounded-lg">
        <h3 class="text-xl font-bold mb-2">Guilds</h3>
        <p class="text-2xl font-bold"><%= guilds %></p>
      </div>
      <div class="bg-blue-800 p-6 rounded-lg">
        <h3 class="text-xl font-bold mb-2">Users</h3>
        <p class="text-2xl font-bold"><%= users %></p>
      </div>
      <div class="bg-blue-800 p-6 rounded-lg">
        <h3 class="text-xl font-bold mb-2">Commands</h3>
        <p class="text-2xl font-bold"><%= comands %></p>
      </div>
    </div>
  </div>
</body>

</html>
